@model IEnumerable<CoviDotNet.ORM.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Select a person to show his vaccinations</h4>
<hr />
<form asp-controller="NonVaccinatedPersons" asp-action="Index">
    <p>
        <select name="Disease" class="form-control" asp-items="ViewBag.ListDiseases"></select>
        <select name="ThisYear" class="form-control" asp-items="ViewBag.ListOptions"></select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsResident)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsResident)
                </td>
            </tr>
        }
    </tbody>
</table>
